h1 {
    color: rgb(63,72,204);
    font-weight: bolder;
    font-size: 22px;
    margin-left: 40%;
    margin-bottom:5%;
}

 #Main {
    margin-left: 10%;
    margin-right:20%;
}

body {
    background-color: rgb(153,217,234);
    font-family: Arial, serif;
    color: rgb(63,72,204);
}

#booktoken {
    float: left;
    font-weight: bolder;
}

#nametoken {
    float: right;
    font-weight: bold;
}


#submitbutton {
    bottom: 0;
    padding: 50% 20% 10% 40%; /* Innenabstand oben - rechts - unten - links */
}

#submitbutton input{
    color: blue;
    font-weight: bold;
    background-color: deepskyblue;
    border-color: blue;
    padding: 3px 75px;
}

label{
    float: left;
    width: 160px;
    display: block;
    font-size: 16px;
}

span {
    float: left;
    font-weight: bold;
    color: rgb(0,0,0);
    font-size: 14px;
}
