/* General Design */

h1 {
    color: rgb(63, 72, 204);
    font-weight: bolder;
    font-size: 22px;
    margin-left: 40%;
    margin-bottom: 5%;
}

body {
    background-color: rgb(153, 217, 234);
    font-family: Arial, serif;
    color: rgb(63, 72, 204);
}

#Main {
    margin-left: 10%;
    margin-right: 20%;
}

/* Book_Entry.html Design */

#booktoken {
    float: left;
    font-weight: bolder;
}

#nametoken {
    float: right;
    font-weight: bold;
}

#submitbutton {
    bottom: 0;
    padding: 50% 20% 10% 40%; /* Innenabstand oben - rechts - unten - links */
}

#submitbutton input {
    color: blue;
    font-weight: bold;
    background-color: deepskyblue;
    border-color: blue;
    padding: 3px 75px;
}

#genre-title {
    float: left;
    clear: both;
    margin-right: 20%;
}

#genre-checkboxes {
    float: right;
    display: block;
    padding-right: 10px;
    white-space: nowrap;
}

.book_entry_label {
    float: left;
    width: 160px;
    display: block;
    font-size: 16px;
}

.book_entry_span {
    float: left;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 14px;
}

/* Home.html Design */

#mainframe {
    text-align: center;
    width: 100%;
    height: 100%;
}

#buttonframe {
    text-align: center;
    width: fit-content;
}

.linkbutton {
    border-width: 5px;
    border-style: solid;
    border-color: blue;
    padding: 2.5em;

    font-size: 18px;
    font-weight: bold;
}

#home_h1 {
    font-size: 22px;
    color: black;
}

#home_h2 {
    font-size: 72px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: 50%;
}

#home_img {
    vertical-align: baseline;
    float: none;
    clear: both;
}

.blue {
    color: blue;
}

